{% extends "base.html" %}

{% block pageheading %}Adding A Word{% endblock %}

{% block main %}
<form class="myform" method="POST" action="/addword">
  <h4>Maori Word</h4>
  <input type="text" name="maori_text" id="maori_text">
  <h4>English Translation</h4>
  <input type="text" name="english_text" id="english_text">
  <h4>Definition</h4>
  <input type="text" name="definition_text" id="definition_text">
  <h4>Category</h4>
  <input type="number" name="category_text" id="category_text">
  <h4>Level</h4>
  <input type="number" name="level_text" id="level_text">
  <div class="form-group">
        <div class="form-label">Submit:</div>
        <div class="form-element"><input type="submit" value="Submit"></div>
    </div>
</form>
{% endblock %}