{% extends "base.html" %}

{% block pageheading %}Dictionary{% endblock %}

{% block main %}

<div class="word-block">
    <table>
        <thead>
            <tr>
                <td>Maori Word</td>
                <td>Translation</td>
                <td>Definition</td>
                <td>Level</td>
            </tr>

        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <td><a href="/worddisplay">{{ word[1] }}</a></td>
                <td>{{ word[2] }}</td>
                <td>{{ word[4] }}</td>
                <td>{{ word[5] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}