* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ACE1AF;
}

.container {
    width: 60vw;
    margin: auto;
    background-color: #FDBCB4;
    color: #555555;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}